<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <link rel="stylesheet" href="../nav.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <h3>Home Page</h3>
            <h1>New World</h1>
            <div class="search-item">
                <input type="text" placeholder="Search">
                <button class="btn-pro">Search</button>
            </div>
            <div class="links">
                <a href="#">My Profile</a>
            </div>
        </div>
        <br>
        <br>
        <div class="content">
            <div class="post">
                 <div class="post-header">
                    <div class="post-header-left">
                        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="post-header-right">
                        <div class="post-header-info">
                            <h3>Name</h3>
                            <div class="post-header-line"></div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>